div{
    height: 100px;
    width: 100px;
    background: royalblue;
    border: 2px solid black;
    padding: 1px;
    margin: 1px
}
.a{
    position: relative;
    left: 20px;
    background: #06fa8c;
}