.mybox {
    height: 150px;
    width: 150px;
    left: 0;
    bottom: 0;
    position: relative;
    border-radius: 100%;
    background-color: red;
    animation-name:grow;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes grow {
    0%{left: 10%;}
25%{position: relative; bottom: 20px}
    75%{position: relative; bottom: -20px}
    100%{left: 50%;}
}
