body,html {
    min-height: 100%;
}

body{
    background-image: url("https://adwallpapers.xyz/uploads/posts/70981-place-for-relax-hd-4k-ultra-hd-wallpaper__other.jpg");
background-repeat: no-repeat;
    background-size:cover;
}